{% extends 'steps/step_g.html' %}

{% block step %}


<div class="container">
    <p>El primer paso es definir las variables</p>

    <ul>
        <li>Fluido dentro de los tubos</li>
        <li>Fluido en la coraza</li>
        <li>Temperaturass final e inicial de los fluidos</li>
        <li>Flujo masico de los fluidos</li>
        <li>Configuración (Cuadrada o triangular)</li>
    </ul>
    <form action="/step/2" method="GET">
        <div class="form-group">
            <label for="type">Tipo</label>
            <select class="form-control">
                <option>Cuadrado</option>
                <option>Triangular</option>
              </select>
        </div>
        <div class="form-group">
          <label for="Fluido1">Fluido al interior de los tubos</label>
          <input type="text" class="form-control" name="Fluido1" placeholder="Fluido">
        </div>

        <div class="form-group">
          <label for="TiFluido1">T entrada fluido del tubo (ºC)</label>
          <input type="number" step="0.01" class="form-control" name="TiFluido1" placeholder="T">
        </div>

        <p>Si no especifican la temperatura de salida calcular con la formula de transferencia de calor</p>

        <div class="form-group">
          <label for="ToFluido1">T salida fluido del tubo (ºC)</label>
          <input type="number" step="0.01" class="form-control" name="ToFluido1" placeholder="T">
        </div>


        <div class="form-group">
            <label for="Fluido2">Fluido de la coraza </label>
            <input type="text" class="form-control" name="Fluido2" placeholder="Fluido">
        </div>
<!-- 
        <p>Es probable que no se de la temperatura, pero si alguna propiedad como por ejemplo
          el Delta H y coeficiente h, buscar en las tablas estos valores y determinar la temperatura
          (Si se encuentr en cambio de fase la temperatura inicial y final es la misma)
        </p> -->

        <div class="form-group">
          <label for="TiFluido2">T entrada fluido de la coraza (ºC)</label>
          <input type="number" step="0.01" class="form-control" name="TiFluido2" placeholder="Fluido">
        </div>

        <div class="form-group">
          <label for="ToFluido2">T salida fluido de la coraza (ºC)</label>
          <input type="number" step="0.01" class="form-control" name="ToFluido2" placeholder="T">
        </div>

        <div class="form-group">
          <label for="L">Longitud de la coraza (m)</label>
          <input type="number" step="0.01" class="form-control" name="L" placeholder="T">
        </div>

        <p>Especificar el flujo <b>total</b> </p>
        <div class="form-group">
          <label for="QpFluido1">Flujo fluido tubos (kg/s)</label>
          <input type="number" step="0.01" class="form-control" name="QpFluido1" placeholder="Flujo">
        </div>

        
        <p>Si el tubo es delgado Di = De /p>
        <div class="form-group">
          <label for="Di">Diametro interno tubo (m)</label>
          <input type="number" step="0.001" class="form-control" name="Di" placeholder="Di">
        </div>

        <div class="form-group">
          <label for="De">Diametro externo tubo (m)</label>
          <input type="number" step="0.001" class="form-control" name="De" placeholder="De">
        </div>

        <div class="form-group">
          <label for="Q">Transferencia de calor requerida (W/m^2 K)</label>
          <input type="number" step="0.01" class="form-control" name="Q" placeholder="Q">
        </div>

        <div class="form-group">
          <label for="nTubos">Numero de tubos</label>
          <input type="number"  class="form-control" name="nTubos" placeholder="nTubos">
        </div>

        <div class="form-group">
          <label for="nPasos"> Cantidad de veces que pasa cada tubo</label>
          <input type="number" class="form-control" name="nPasos" placeholder="nPasos">
        </div>

        <button type="submit" class="btn btn-default">Send</button>
      </form>

</div>




{% endblock %}