{% import'macro.html' as macros %}

{% extends 'base.html' %}



{% block title %} 
    {{super()}}
    Bienvenido
{% endblock %}



{% block content %}

{% if user_ip %}


<div class="jumbotron" id="welcome">
    <div class="container">
        <h1>Bienvenido a la ayuda virtual para intercambiadores de calor</h1>
        <p>Aqui encontraras procedimientos y calculos para poder realizar rapidamente
            los ejercicios</p>
        <p><a class="btn btn-default btn-lg" href="/step/1" role="button">Empezar</a></p>
    </div>
</div>



{% endif %}

<!-- <ul>
    {% for todo in todos %}
        {{macros.render_todo(todo)}}        
    {% endfor %}
</ul> -->

{% endblock %}